/** @format */

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import 'variables';
@import 'mixins';
@import 'owl.carousel.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1111px;
  margin: 0 auto;
  @media (max-width: 1111px) {
    width: 100%;
    padding: 0 10px;
  }
}

@import 'header';
@import 'statistics';
@import 'appartments';
@import 'how';
@import 'services';
@import 'agents';
@import 'add';
@import 'footer';
